# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# React / Vite
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database/cache
*.db
*.sqlite3

# Secrets / Keys
*.pem
*.key
